<!-- templates/registration/login.html -->
{% extends 'polls/base.html' %}
{% load bootstrap5 %}

{% block title %}Ingresar{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <img class="w-100" src="{{ cfg.imagen_principal.url }}" alt="Imágen principal">
    </div>
    <div class="col-md-6">
        <h2 class="mb-4 text-center w-100 text-uppercase font-weight-bold">Ingresar</h2>
        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button class="btn btn-primary btn-block" type="submit">Ingresar</button>
            {% endbuttons %}
        </form>
    </div>
</div>

{% endblock %}