<head>
    <link rel="stylesheet" href="/static/polls/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        body {
        }

        tr{ font-size: 80%; }
        th{ font-size: 80%; }
        h2 {
            background: lightgray;
            width: 100%;
            margin-top: 80px;
            margin-bottom: 40px;
        }
        h3 {
            margin-top: 30px;
        }
    </style>

</head>

<body>

<div class="">

{% if not permitirGuardarDescripcion %}
    <button class="btn-block w-100 btn btn-warning" onclick="
    console.log(this);
    this.style.setProperty('visibility', 'hidden');
    setTimeout(() => this.style.setProperty('visibility', 'visible'), 2000)
    this.visibility='hidden';
    window.print();
    return false;
    "><i class="fa fa-print"></i> Imprimir</button>
{% endif %}

<img src="/static/polls/header.png" style="width: 100%;
    transform: scale(0.5);
    text-align: left;"/>


<div class="col">
    <h1 class="w-100 text-center">PROGRAMA DE AYUDAS URGENTES</h1>
    <h2 class="w-100 text-center">DATOS GENERALES</h2>

    <h3 class="w-100">Solicitante</h3>

    Apellido/s: <b>{{ f.jefe_apellido }}</b><br>
    Nombre: <b>{{ f.jefe_nombre }}</b><br>
    Documento de identidad, tipo: <b>{{ f.get_jefe_tipo_documento_display }}</b><br>
    DNI N°: <b>{{ f.jefe_numero_documento }}</b><br>
    Fecha de nacimiento: <b>{{ f.jefe_fecha_nacimiento|date:'d/m/Y' }}</b><br>
    Edad: <b>{{ f.jefe_edad }}</b><br>
    Nacionalidad: <b>{{ f.jefe_nacionalidad }}</b><br>
    Estado civil: <b>{{ f.get_jefe_estado_civil_display }}</b><br>

    <h3 class="w-100">Domicilio</h3>
    Calle: <b>{{ b.inm_calle }}</b><br>
    Numero: <b>{{ b.inm_numero }}</b><br>
    Barrio: <b>{{ b.inm_barrio }}</b><br>
    Localidad: <b>{{ b.inm_localidad }}</b><br>
    CP: <b>{{ b.inm_codigo_postal }}</b><br>
    Departamento: <b>{{ b.inm_departamento }}</b><br>
    Teléfono: <b>{{ f.jefe_telefono }}</b><br>
    Teléfono alternativo: <b>{{ f.jefe_contacto }}</b><br>
    Entrevista efectiva: <b>{{ b.entrevista_efectiva }}</b><br>
    Entrevistador: <b>{{ b.entrevistador_nombre_apellido }}</b><br>
    Fecha: <b>{{ b.entrevistador_fecha|date:'d/m/Y' }}</b><br>

    <h2 class="w-100 text-center text-uppercase">RELEVAMIENTO SOCIAL</h2>

    <h3>Cantidad de integrantes de la familia</h3>
    Personas en el hogar: <b>{{ f.jefe_personas_en_hogar }}</b><br>
    Cantidad de hogares: <b>{{ f.cantidad_hogares }}</b><br>
    Numero de hogar: <b>{{ f.numero_de_hogar }}</b><br>

    <h3>Sobre el niño/a</h3>
    <ul>
        <li>Apellido: <b>{{ f.nino_apellido }}</b></li>
        <li>Nombre: <b>{{ f.nino_nombre }}</b></li>
        <li>Tipo de documento: <b>{{ f.get_nino_tipo_documento_display }}</b></li>
        <li>Número de documento: <b>{{ f.nino_numero_documento }}</b></li>
    </ul>

    {% if dniFotos is not None %}
        <h3>DNI del jefe/a de familia</h3>
            <img src="{{ dniFotos.jefe_foto_dorso.url }}" alt="" width="400px">
            <img src="{{ dniFotos.jefe_foto_frente.url }}" alt="" width="400px">
        <h3>DNI del niño/a</h3>
            <img src="{{ dniFotos.nino_foto_dorso.url }}" alt="" width="400px">
            <img src="{{ dniFotos.nino_foto_frente.url }}" alt="" width="400px">

    {% endif %}

    <h3 class="w-100">Datos del grupo familiar conviviente</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Documento</th>
            <th scope="col">Edad</th>
            <th scope="col">Identidad de género</th>
            <th scope="col">Parentezco c/jefe/a flia</th>
            <th scope="col">Estado civil</th>
            <th scope="col">Estudios alcanzados</th>
            <th scope="col">Trabajo remunerado</th>
            <th scope="col">Ingresos por trabajo</th>
            <th scope="col">Planes sociales</th>
            <th scope="col">Otros ingresos</th>
            <th scope="col">Cobertura de salud</th>
            <th scope="col">Discapacidad</th>
            <th scope="col">Enf. Crónica</th>
            <th scope="col">Embarazo en curso</th>
        </tr>
        </thead>
        <tbody>
        {% for f in convivientes %}
            <tr>
                <td>{{ f.nombre }}</td>
                <td>{{ f.apellido }}</td>
                <td>{{ f.get_tipo_de_documento_display }} {{ f.numero_de_documento }}</td>
                <td>{{ f.edad }}</td>
                <td>{{ f.identidad_de_genero }}</td>
                <td>{{ f.parentesco }}</td>
                <td>{{ f.get_estado_civil_display }}</td>
                <td>{{ f.estudios_alcanzados }}</td>
                <td>{{ f.trabajo_remunerado }}</td>
                <td>${{ f.ingresos_por_trabajo }}</td>
                <td>
                    {% for p in f.planes.all %}
                        {{ p.nombre }},
                    {% endfor %}
                </td>
                <td>{{ f.otros_ingresos }}</td>
                <td>{{ f.cobertura_de_salud }}</td>
                <td>{{ f.discapacidad }} ({{ f.certificado_de_discapacidad }})</td>
                <td>{{ f.enfermedad_cronica }}</td>
                <td>{{ f.embarazo_en_curso|yesno:"Si,No" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <h3 class="w-100">Datos del grupo familiar no conviviente</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Observaciones</th>
        </tr>
        </thead>
        <tbody>
        {% for f in no_convivientes %}
            <tr>
                <td>{{ f.nombre }}</td>
                <td>{{ f.apellido }}</td>
                <td>{{ f.observaciones }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <h2 class="w-100 text-uppercase text-center">RELEVAMIENTO FISICO-AMBIENTAL</h2>

    <!-- Renderizar lista -->
    <ul>
        {% for q in qa %}
            <!-- Titulos de categorias -->
            {% if q.q == 'Baño' %}
                <h3>Baño</h3>
            {% elif q.q == '¿Dispone de un espacio para cocinar/comer?' %}
                <h3>Cocina</h3>
            {% elif q.q == 'Tenencia' %}
                <h3>Sobre la vivienda</h3>
            {% elif q.q == '¿Dispone de un espacio para cocinar/comer?' %}
                <h3>Cocina</h3>
            {% elif q.q == 'Servicios / Agua potable' %}
                <h3>Servicios</h3>
            {% endif %}

            <!-- Nombre del item -->
            <li>{{ q.q }}: <b>{{ q.a }}</b></li>

            <!-- Imagen -->
            {% if q.img %}
                <img src="{{ q.img.url }}" alt="" width="200px">
            {% endif %}

        {% endfor %}
    </ul>

    <h2 class="text-uppercase w-100 text-center">Conclusiones generales y sugerencias de intervención</h2>

    {% if permitirGuardarDescripcion %}
        <form action="{% url 'polls:detalle_observaciones' pk %}" method="post">
            {% csrf_token %}
            <textarea rows="10" class="w-100" required name="observaciones">{{ b.observaciones }}</textarea>
            <br><br>
            <button type="submit" class="btn btn-danger btn-block py-3"><i class="fa fa-save"></i> Guardar y finalizar observación</button>
        </form>
    {% else %}
        <textarea rows="10" class="w-100" disabled>{{ b.observaciones }}</textarea>
        <div class="row">
            <div class="col-4">FIRMA DEL TRABAJADOR SOCIAL</div>
            <div class="col-4">SELLO</div>
            <div class="col-4">DNI</div>
        </div>
    {% endif %}



</div>
<br>
<br>
<br>
<br>
<br>

</div>

</body>