{% extends 'polls/base.html' %}

{% block title %}Pregunta{% endblock %}

{% block content %}
        <div class="progress" style="height: 10px;">
  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="height: 25px; width: {{ question_percent }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>

    <h2 class="my-5">{{ question.question_text }}</h2>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class="container">
        <form action="{% url 'polls:vote' id question_index %}" method="post">
            {% csrf_token %}

            <!-- For image choices ... -->
            {% if is_image %}
                <div class="row">
                    {% for choice in question.choice_set.all %}
                        <div class="col-md-{{ col_size }}">
                            <label>{{ choice.choice_text }}
                                <input class="imgradio" type="radio" name="choice" value="{{ forloop.counter0 }}"
                                        {% if forloop.counter0 == answer_index %} checked {% endif %}>
                                <img width="100%" src="{{ choice.choice_image.url }}" alt="{{ choice.choice_text }}">
                            </label>
                        </div>
                    {% endfor %}
                </div>
            <!-- For radio choices -->
            {% else %}
                {% for choice in question.choice_set.all %}
                    <label class="rad">
                        <input
                            type="radio"
                            name="choice"
                            id="choice{{ forloop.counter0 }}" value="{{ forloop.counter0 }}"
                            {% if forloop.counter0 == answer_index %} checked {% endif %}
                        >
                        <i></i> {{ choice.choice_text }}
                    </label>
                    <br>
                {% endfor %}
            {% endif %}

            <div class="row pt-4">
                <div class="col-6">

                </div>
                <div class="col-6 text-right">
                    {% if not is_first %}
                        <a href="/{{ id }}/{{ prev_question_id }}" class="btn btn-secondary">Volver</a>
                    {% endif %}
                    <input type="submit" class="btn btn-primary" value="{% if is_last %} Terminar {% else %} Siguiente {% endif %}">
                </div>
            </div>
        </form>
    </div>


{% endblock %}