{% extends 'polls/base.html' %}

{% block title %}Pregunta{% endblock %}

{% block content %}

    <style>
    input[type=text], input[type=number] {
        display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    select, textarea {
        width: 100%;
    }

    h3 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    </style>

    {% if error %}<p><strong class="text-danger">{{ error }}</strong></p>{% endif %}

    <div class="container">
        <form action="{% url 'polls:grupofamiliar' pk %}" method="post">
            {% csrf_token %}

        <h3>Agregar grupo familiar conviviente</h3>
            {% for field in conv_form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% if field.help_text %}
                        <p class="text-muted">{{ field.help_text|safe }}</p>
                    {% endif %}
                    {{ field }}
                    <div class="text-danger">
                    {{ field.errors }}
                    </div>
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary btn-block">Agregar</button>
        </form>

            <form action="{% url 'polls:grupofamiliar' pk %}" method="post">
            {% csrf_token %}

        <h3>Agregar miembro familiar no conviviente</h3>
            {% for field in no_conv_form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% if field.help_text %}
                        <p class="text-muted">{{ field.help_text|safe }}</p>
                    {% endif %}
                    {{ field }}
                    <div class="text-danger">
                    {{ field.errors }}
                    </div>
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary btn-block">Agregar</button>
        </form>
    </div>

{% endblock %}