{% extends 'polls/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
      Bienvenido, {{ user.username }}.

        {% if not has_completed_poll %}
            {{ cfg.frase_inicial }}

            <br>
            <br>
            <a href="/{{ latest_question_index }}/" class="btn btn-primary">
                Completar la encuesta
            </a>

        {% else %}
        <p>{{ cfg.frase_mejores_candidatos }}</p>
        <ul>
            {% for match in matches %}
                <li>{{ match.user.username }} - {{ match.score }}%</li>
            {% endfor %}
        </ul>
        {% endif %}

    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">Log In</a>
      <a href="{% url 'polls:signup' %}">Sign up</a>
    {% endif %}

{% endblock %}