{% extends 'polls/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <p><a href="{% url 'logout' %}">Log Out</a></p>

        {% if not has_completed_poll %}
        <li><a href="/{{ latest_question_index }}/">Completar la encuesta</a>
        {% else %}
        <p>Has completado la encuesta.</p>
        <ul>
            {% for match in matches %}
                <li>{{ match.score }}% - {{ match.user.username }}</li>
            {% endfor %}
        </ul>

        {% endif %}

    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">Log In</a>
      <a href="{% url 'polls:signup' %}">Sign up</a>
    {% endif %}

{% endblock %}