{% extends 'polls/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

        <div class="col">
        <h1>Todos los relevamientos</h1>
            <!-- All tabs -->
            <ul class="nav nav-tabs">
                {% for u in usuarios %}
                <li class="nav-item">
                    <a class="nav-link {% if selected_user == forloop.counter0 %} active {% endif %}" href="/resumen/{{ forloop.counter0 }}">{{ u }}</a>
                </li>
                {% endfor %}
            </ul>

            <a href="/excelreport/{{ selected_user }}"
               class="my-3 btn btn-block btn-success">
                <i class="fa fa-download"></i>
                Exportar a Excel relevamientos completos
            </a>

            <ul class="list-group">
                {% for match in result %}
                    <li class="list-group-item">

                        <h5>
                            {% if match.familiaJefeDNI != '' %}
                                {{ match.familiaJefeDNI }} {{ match.familiaJefeNombre }} {{ match.familiaJefeApellido }} /
                            {% endif %}
                            {{ match.barrio }}, {{ match.calle }} {{ match.numero }}.
                        </h5>
                        <br>

                        {% if not match.completoEncuesta or not match.completoFamilia %}
                        <span class="text-muted">
                            {% if match.completoEncuesta %} <span class="text-success">Completó vivienda.</span>
                            {% else %} <span class="text-danger">No completó vivienda.</span>
                            {% endif %}

                            {% if match.completoFamilia %} <span class="text-success">Completó familia.</span>
                            {% else %} <span class="text-danger">No completó familia.</span>
                            {% endif %}
                        </span>
                        {% endif %}

                        {% if match.completoEncuesta and match.completoFamilia %}
                            <a href="/detalle/{{ match.id }}" class="btn btn-primary">Ver detalle</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

        </div>

    {% else %}
      <a href="{% url 'login' %}">Ingresar</a>
    {% endif %}

{% endblock %}