{% extends 'polls/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="row">
            <ul class="list-group w-100" style="max-height: 500px;margin-bottom: 10px;overflow:scroll;">
                {% for match in result %}
                    <li class="list-group-item">
                        <h5># {{ forloop.counter }}: {{ match.beneficiarioNombre }} {{ match.beneficiarioApellido }}, {{ match.beneficiarioDNI }}.</h5><br>

                        <span class="text-muted">
                            {% if match.completoEncuesta %} <span class="text-success">Encuesta completada.</span> {% endif %}
                            {% if not match.completoEncuesta %}
                                <span class="text-danger">Encuesta incompleta.</span>
                                {% else %}
                                <span class="text-success">Encuesta completa.</span>
                                <a href="/results/{{ match.beneficiarioDNI }}" class="btn btn-success">Ver resultado</a>
                                </a>
                            {% endif %}
                        </span>
                    </li>
                {% endfor %}
            </ul>

        </div>

    {% else %}
      <a href="{% url 'login' %}">Ingresar</a>
      <a href="{% url 'polls:signup' %}">Registrarse</a>
    {% endif %}

{% endblock %}